<header class="header">
  <div class="container header__content">
    <div class="header__logo">
      <img src="event-white.png" alt="IoT Logo" class="header__logo-img" />

      <span class="header__title">Event View</span>
    </div>
    <nav class="header__nav">
      <ul>
        <li>
          <a
            href="https://github.com/Anatolii-Stoliarenko/EventViewer.git"
            target="_blank"
            rel="noopener noreferrer"
            ><div class="header__link-icon">
              GitHub
              <img
                src="github-white.png"
                alt="GitHub Logo"
                class="github-icon"
              />
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
